<h1 class='createjam'>Edit Comment</h1>

<%= simple_form_for [@jampost, @comment], :html=> {class: 'signuplink'} do |f| %>
<p>
  <%= f.input :body, label: "Comment: " %>
</p>
<p>
  <%= f.submit "Update!" , class: 'button' %>
</p>
<% end %>

<%= simple_form_for [@jampost,@comment], method: :delete do |f| %>
  <p><%= f.submit "Delete", class: "button" %></p>
<% end %>
