<% if @jampost.is_drumcircle %>
  <h1 class ='createjam'>Edit drum circle</h1>

  <%= simple_form_for @jampost, :html=> {class: 'signuplink'} do |f| %>
    <p>
      <%= f.input :title, label: 'title:' %>
    </p>
    <p>
      <%= f.input :location, label: 'location:' %>
    </p>
    <p>
      <%= f.input :body, label: "description:" %>
    </p>
    <p>
      <%= f.input :time, label: "time:" %>
    </p>
    <p>
      <%= f.input :img_url, label: 'photo url:' %>
    </p>
    <%= f.hidden_field :is_drumcircle, value: true %>
    <p>
      <%= f.input :size_limit, label: "size limit:" %>
    </p>
    <%= f.button :submit, 'Update!', class: 'button'%>
  <% end %>
  <% else %>
    <h1 class='createjam'>Edit jam session</h1>

    <%= simple_form_for @jampost, :html => {class: 'signuplink'} do |f| %>
      <p>
        <%= f.input :title, label: "title:", class:'signuplink' %>
      </p>
      <p>
        <%= f.input :location, label: "location:" %>
      </p>
      <p>
        <%= f.input :body, label: "description:" %>
      </p>
      <p>
        <%= f.input :time, label: "time: " %>
      </p>
      <p>
        <%= f.input :img_url, label: "photo url:" %>
      </p>
      <p>
        <%= f.input :skill_level, label: "skill level (enter 1-5):" %>
      </p>

      <p>
          <%= f.button :submit, 'Update!', class: 'button'%>
      </p>
    <% end %>
<% end %>

<%= form_for @jampost, method: :delete do |f| %>
    <p><%= f.submit "Delete Post", class: "button" %></p>
  <% end %>
