<% if @jampost.user == current_user %>
  <%= link_to "Edit", edit_jampost_path(@jampost), class:'homebutton' %>
<% end %>

<h1 class="showtitle"><%= @jampost.title %></h1>

<%= image_tag @jampost.img_url %>
<p><span class='showinfo'>Location: </span><%= @jampost.location %></p>
<p><span class='showinfo'>Time: </span><%= @jampost.time %></p>
<p><span class='showinfo'>About: </span><%= @jampost.body %></p>

<% if @jampost.is_drumcircle && @jampost.size_limit %>
  <p><span class='showinfo'>Size Limit: </span> <%= @jampost.size_limit %> People</p>
<% end %>

<% if !(@jampost.is_drumcircle) && @jampost.user == current_user%>

  <%= simple_form_for [@jampost, @instrument] do |f| %>
    <p>
      <%= f.input :instrument, label: 'Instruments:', collection: ['bass','drums','keyboard','percussion','vocals','guitar','cowbell','other'], prompt: 'Please select!' %>
    </p>
    <p>
      <%= f.submit 'ADD', class: 'button', method: :create  %>
    </p>
  <% end %>
<% end %>

<% if @jampost.instruments %>
  <h2> Your Current Band is: </h2>
  <% @jampost.instruments.each do |inst| %>
    <h4><%= inst.instrument %></h4>
    <%= form_for [@jampost, inst], method: :delete do |f| %>
      <%= f.submit "remove", class: "button" %>
    <% end %>
  <% end %>
<% end %>







<hr>
<% if @jampost.comments.length > 0 %>
  <h2 class = 'commentstitle'>Comments</h2>
  <% @jampost.comments.each do |comment| %>
    <p class='commentbody'>
      <%= comment.body %>
    </p>
    <p class='commentinfo' >
      <%= "-#{comment.user.email}" %>
      <%= comment.created_at %>
    </p>
    <br>
  <% if comment.user == current_user %>
    <%= link_to "Edit", edit_jampost_comment_path(@jampost, comment),class:'homebutton' %>
  <% end %>
  <% end %>
  <hr class='shorthr'>
<% end %>


<%= simple_form_for [@jampost, @comment], :html=> {class: 'signuplink'} do |f| %>
<p>
  <%= f.input :body, label: "Comment: " %>
</p>
<p>
  <%= f.submit "Add comment" , class: 'button' %>
</p>
<% end %>
