<h1><%= @jampost.title %> <%= link_to "(edit)", edit_jampost_path(@jampost) %></h1>

<%= image_tag @jampost.img_url %>
<p>Location: <%= @jampost.location %></p>
<p><%= @jampost.body %></p>

<!-- if is_drumcircle = true
  jampost.size_limit
  else
  jampost.skill_level
  "These are the instruments for this jam, please check the one you play. If it's already checked, someone else has got it. If you'd like to bring a different instrument, leave a comment!" -->

<% if @jampost.instruments %>
  <% @jampost.instruments.each do |inst| %>
    <h3><%= inst.instrument %></h3>
  <% end %>
<% end %>


<h2>Comments</h2>
<% @jampost.comments.each do |comment| %>
  <p>
    <%= "#{comment.name}        - #{comment.body}" %>
  </p>
  <%= link_to "Edit", edit_jampost_comment_path(@jampost, comment) %>
  <%= link_to "Delete Comment", jampost_comment_path(@jampost, comment), method: :delete %>
<% end %>
<hr>

<h2>Add Comment</h2>

<%= form_for [@jampost, @comment] do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :body %>
    <%= f.text_field :body %>
  </p>
  <p>
    <%= f.submit %>
</p>
<% end %>
