<% if @jampost.user == current_user && current_user %>
  <%= link_to "Edit", edit_jampost_path(@jampost), class:'homebutton'%>
<% end %>

<h1 class="showtitle"><%= @jampost.title %></h1>

<%= image_tag @jampost.img_url %>
<p><span class='showinfo'>Location: </span><%= @jampost.location %></p>
<p><span class='showinfo'>Time: </span><%= @jampost.time %></p>
<p><span class='showinfo'>About: </span><%= @jampost.body %></p>

<% if @jampost.is_drumcircle%>
  <p><span class='showinfo'>Current Members: </span> <%= @jampost.current_members %></p>
<% end %>

<% if @jampost.is_drumcircle && @jampost.size_limit %>
  <p><span class='showinfo'>Size Limit: </span> <%= @jampost.size_limit %> People</p>
  <%= form_for @jampost, method: :put do |f| %>
    <%= f.submit "Join!" %>
  <% end %>
<% end %>

<% if !@jampost.is_drumcircle && @jampost.user == current_user && current_user%>
  <h2 class='bandtitle'> Your Current Band is: </h2>
    <br>
    <div class = 'bandbox'>
    <% @jampost.instruments.each do |inst| %>
      <div class ='instrument'><%= inst.instrument %></div>
      <%= form_for [@jampost, inst], method: :delete do |f| %>
        <%= f.submit "remove", class: "removebutton" %>
        <span>,&nbsp;&nbsp;</span>
      <% end %>
    <% end %>
  </div>
  <%= simple_form_for [@jampost, @instrument] do |f| %>
    <p>
      <%= f.input :instrument, label: 'Instruments:', collection: ['bass','drums','keyboard','percussion','vocals','guitar','cowbell','saxophone','trumpet'], prompt: 'Please select!', :class => 'showinfo' %>
    </p>
    <p>
      <%= f.submit 'ADD', class: 'button', method: :create  %>
    </p>
  <% end %>
  <% elsif !(@jampost.is_drumcircle) && @jampost.user != current_user || !current_user && !(@jampost.is_drumcircle) %>
    <h2> Here are the instruments still available: </h2>
    <div class = 'bandbox'>
    <% @jampost.instruments.each do |inst| %>
      <% if !inst.user %>
        <div class ='instrument'>
          <%= inst.instrument %>
        </div>
        <%= form_for [@jampost, inst], method: :put do |f| %>
          <%= f.submit "sign up!" %><span>,</span>
        <% end %>
      <% else %>
      <div class ='takeninstrument'>
        <%= inst.instrument %>,
      </div>
      <% end %>
    <% end %>
    </div>
<% end %>
<hr>
<% if @jampost.comments.length > 0 %>
  <h2 class = 'commentstitle'>Comments</h2>
  <% @jampost.comments.each do |comment| %>
    <p class='commentbody'>
      <%= comment.body %>
    </p>
    <p class='commentinfo' >
      <%= comment.created_at %>
    </p>
    <br>
  <% if comment.user == current_user && current_user %>
    <%= link_to "Edit", edit_jampost_comment_path(@jampost, comment),class:'homebutton' %>
  <% end %>
  <% end %>
  <hr class='shorthr'>
<% end %>


<%= simple_form_for [@jampost, @comment], :html=> {class: 'signuplink'} do |f| %>
<p>
  <%= f.input :body, label: "Comment: " %>
</p>
<p>
  <%= f.submit "Add comment" , class: 'button' %>
</p>
<% end %>
